/*****
Other
*****/

/*Grey Scale*/
$whte: #FFFFFF;
$light-grey: #CBCBCB;
$mid-grey: #808080;
/*Dark Grey from Dark theme fites here*/
$blck: #000000;

/*Primary colors*/
$red: #FF0000;
$gren: #00FF00;
$blue: #0000FF;

$light-red: #FF8282;
$light-gren: #AAFFAA;
$light-blue: #8282FF;

$dark-red: #800000;
$dark-gren: #009500;
$dark-blue: #0000AA;

/*Secondary Colors*/
$yllw: #FFFF00;
$mgnt: #FF00FF;
$cyan: #00FFFF;

$light-yllw: #FFFF82;
$light-mgnt: #FFAAFF;
$light-cyan: #AAFFFF;

$dark-yllw: #959500;
$dark-mgnt: #800080;
$dark-cyan: #009090;

/*******
Default
*******/

$def-brwn: #52342A;
$def-gold: #D6AB47;
$def-blue: #1A2E5D;

$light-def-brwn: #D6A591;
$light-def-gold: #FFDFAA;;
$light-def-blue: #6666AA;

$dark-def-brwn: #2C0E04;
$dark-def-gold: #A07501;
$dark-def-blue: #111525;

/******
Pastel
******/

$past-pink: #FFC0E8;
$past-prpl: #DFA6FF;
$past-blue: #B0C3FF;
$past-gren: #C9FFD3;
$past-yllw: #FCFCB8;
$past-orng: #E8C8A6;

$light-past-pink: #FFDDEE;
$light-past-prpl: #EECCFF;
$light-past-blue: #CCDDFF;
$light-past-gren: #DDFFEE;
$light-past-yllw: #FFFFDD;
$light-past-orng: #FFEECC;

$dark-past-pink: #CF80A8;
$dark-past-prpl: #B066CF;
$dark-past-blue: #445599;
$dark-past-gren: #80CF90;
$dark-past-yllw: #CCCC66;
$dark-past-orng: #A86846;

/****
Dark
****/

$dark-blck: #151515;
$dark-grey: #404040;
/*Dark Red*/

$mid-dark-blck: #303030;
/*Mid Grey*/
$mid-dark-red: #BB0000;

$light-dark-blck: #555555;
$light-dark-grey: #ABABBB;
$light-dark-red: #FF3333;
